#* @vtlvariable name="element" type="javax.lang.model.element.PackageElement" *#
#* @vtlvariable name="docTrees" type="com.sun.source.util.DocTrees" *#
#* @vtlvariable name="toMd" type="java.util.function.Function" *#
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>${element.qualifiedName}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="${element.qualifiedName} ${element.kind.toString().toLowerCase()}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
<body>
<main role="main">
    <div class="container">
        <div class="header">
            <h1 title="${element.kind}" class="title">${element.kind}&nbsp;${element.qualifiedName}</h1>
        </div>
        <div>
            <div class="block">$!{toMd.apply($docTrees.getDocCommentTree($element).fullBody.toString())}</div>
        </div>
        <div>
            <h2>Types</h2>
            <table>
                <thead>
                <tr>
                    <th class="colFirst" scope="col">Type</th>
                    <th class="colLast" scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                    #foreach( $type in $element.enclosedElements )
                    #* @vtlvariable name="type" type="javax.lang.model.element.TypeElement" *#
                    <tr class="altColor" id="i0">
                        <th class="colFirst" scope="row">
                            <a href="${type.simpleName}.html">
                                ${type.simpleName}
                            </a>
                        </th>
                        <td class="colLast">
                            <div class="block">
                                $!{toMd.apply($docTrees.getDocCommentTree($type).firstSentence.toString())}
                            </div>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
</body>
</html>

